/*** HEADER ***/

/* HEADER Navbar-brand */
header .navbar{
  box-shadow: 0px 2px 5px -1px rgba(100, 200, 0, 0.35);
}
header.navbar-brand {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
header .navbar-brand img{
    width: 6rem;
    height: 3.7rem;
}
  
/* HEADER FORM */
.form-input-search .form-control:focus, .form-input-search button:focus{
  box-shadow: none;
} 
.form-input-search .input-group{
  padding: 0.3rem;
  border-radius: 5rem;
  background-color: white;
}
.form-input-search .form-control{
  /*padding: .75rem 1rem;*/
  margin-top: 0.1rem;
  background-color: none;
  border: 0;
}
.form-input-search button {
    padding: 0.7rem;
    border-radius: 5rem;
    background-color: #007bff;
}
/*HEADER Navbar-item*/
header .navbar .nav-item{
    margin-left: 5px;
}
.navbar-toggler:focus{
    outline: none;
}
.sub-menu{
    display: none;
    background-color: #999;
}
.sub-menu li{
    color: blue;
}
.sub-menu:hover{
    display: block;
}


/**
Categories
*/

.categorie{
  background-color: #CCC;
  box-shadow: 0px 2px 5px -1px rgba(100, 200, 0, 0.35);
}
.categorie a{
  text-decoration: none;
    color: #000;
}
/**
CONTENU PRINCIPAL
*/